
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
  }
  
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* Slight darkening effect */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Set a fixed width */
    max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  