.Conifer{
    height: auto;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#4FA673, #DBBA4B , #FB492C87 ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    color: white; 
}

.Conifer p{
    line-height: 1.6;
    text-align: left;
}

.conifer_top_text{
    margin: 1rem;
    line-height: 1.6;
}

.conifer_top_text h2{
    font-size: 30pt;
    margin: 2rem;
    background-color: #242424a9;
}
.header_background_image{
    background-image: url('https://jericho-content.nyc3.cdn.digitaloceanspaces.com/VARIOUS/SEO_photos/Trees/conifer/austrainPine.jpg');
    object-fit: cover;
    background-size: cover;
}


.tree_catalog_sub_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #a1a1a181;
    padding: 1.5rem;
    margin: 1.5rem 0rem ;
}

.tree_catalog_title{
    font-size: 26pt;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


.catalog_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media (min-width:825px) {
    .conifer_top_text p{
        font-size: 16pt;
        margin: 1rem;
    }
    .catalog_cards{
     flex-direction: row;
    }
    
}

@media (min-width:1025px) {
    .conifer_top_text h2{
        font-size: 40pt;
    }
    .conifer_top_text{
        margin: 2rem 4rem;
    }
    .header_background_image{
        display: flex;
        justify-content: center;
        height: 15vw;
    }
    .conifer_top_text h2{
        padding: 3rem;
        margin: 0rem;
    }
}

@media (min-width:1500px) {
    .conifer_top_text h2{
        font-size: 44pt;
    }
    .conifer_top_text p{
        font-size: 18pt;
        margin: 2rem 4rem;
    }
    .conifer_top_text{
        margin: 2rem 6rem;
    }
}

@media (min-width:1650px) {
    .conifer_top_text{
        margin: 2rem 10rem;
    }
}

@media (min-width:1900px) {
    .conifer_top_text{
        margin: 2rem 24rem;
    }
}
