.Ornamental{
    height: auto;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#4FA673, #DBBA4B , #FB492C87 ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    color: white; 
}

.Ornamental p{
    line-height: 1.6;
    text-align: left;
}
.ornamental_top_text{
    margin: 1rem;
    line-height: 1.6;
}
.ornamental_top_text h2{
    font-size: 30pt;
    margin: 2rem;
}

.ornamental_tree_example_each{
    margin: 1rem;
}

.o_tree_pic{
    width: 75vw;
    height: 35vw;
    object-fit: cover;
    margin: 1rem;
}

.ornamental_tree_example_each h2{
    font-size: 24pt;
    font-weight: 700;

}
.ornamental_tree_example_each h3{
    font-size: 16pt;
    font-weight: 500;
    text-decoration: underline;
  }

.o_tree_pic{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.o_tree_pic:hover{
    transform: scale(1.05); /* Slight zoom */
    box-shadow: 0 0 15px rgba(255, 187, 0, 0.7); /* Glowing effect */
}


@media (min-width:750px) {
    .o_tree_pic{
        width: 70vw;
        height: 30vw;
    }
}


@media (min-width:825px) {
    .ornamental_top_text p{
        font-size: 16pt;
        margin: 1rem;
    }
    .ornamental_tree_example_each h2{
        font-size: 26pt;
    }
    .ornamental_tree_example_each h3{
        font-size: 22pt;
    }
    .o_tree_pic{
        margin: 1.5rem;
    }
}

@media (min-width:1025px) {
    .ornamental_top_text h2{
        font-size: 40pt;
    }
    .ornamental_tree_example_each h2{
        font-size: 30pt;
    }
    .ornamental_tree_example_each{
        margin: 2rem;
    }
    .ornamental_top_text{
        margin: 2rem 4rem;
    }
}

@media (min-width:1200px) {
    .o_tree_pic{
        width: 65vw;
        height: 25vw;
    }
    .ornamental_tree_example_each{
        margin: 2rem 4rem;
    }
}

@media (min-width:1500px) {
    .o_tree_pic{
        width: 65vw;
        height: 22vw;
    }
    .ornamental_top_text h2{
        font-size: 44pt;
    }
    .ornamental_top_text p{
        font-size: 18pt;
        margin: 2rem 4rem;
    }
    .ornamental_tree_example_each h2{
        font-size: 36pt;
    }
    .ornamental_tree_example_each h3{
        font-size: 26pt;
    }
    .ornamental_top_text{
        margin: 2rem 6rem;
    }
}

@media (min-width:1650px) {
    .ornamental_top_text{
        margin: 2rem 10rem;
    }
}

@media (min-width:1900px) {
    .o_tree_pic{
        width: 57vw;
        height: 17vw;
    }
    .ornamental_top_text{
        margin: 2rem 24rem;
    }

}
