.Ornamental{
    height: auto;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#4FA673, #DBBA4B , #FB492C87 ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    color: white; 
}
.o_tree_pic{
    width: 75vw;
    height: 35vw;
    object-fit: cover;
    margin: 1rem;
}
.ornamental_tree_example_each h2{
    font-size: 18pt;
    font-weight: 700;
  }

.ornamental_top_text{
    margin: 1rem;
    line-height: 1.6;
    text-align: left;
}
.ornamental_top_text h2{
    font-size: 30pt;
}
.ornamental_tree_example_each{
    margin: 1rem;
}
.ornamental_tree_example_each p{
text-align: left;
line-height: 1.6;
margin-bottom: 1rem;
}
.ornamental_tree_example_each h3{
    font-size: 16pt;
    font-weight: 500;
    text-decoration: underline;
  }




  @media (min-width:825px) {

    .ornamental_top_text p{
        font-size: 16pt;
        margin: 1rem;
    }
    .trees_welcome h1{
        font-size: 60pt;
    }
    .trees_welcome p{
        font-size: 22pt;
    }

    .ornamental_tree_example_each h2{
        font-size: 26pt;
    }
    .ornamental_tree_example_each h3{
        font-size: 22pt;
    }
    .ornamental_tree_exerb p{
        font-size: 16pt;
        margin: 1rem;
    }

}



@media (min-width:1025px) {
    .ornamental_top_text{
        margin: 2rem 4rem;
    }
    .trees_welcome h1{
        font-size: 60pt;
    }
    .ornamental_top_text h2{
        font-size: 40pt;
    }
    .ornamental_tree_example_each h2{
        font-size: 30pt;
    }
    .ornamental_tree_example_each{
        margin: 2rem;
    }

}

@media (min-width:1200px) {
    .o_tree_pic{
        width: 65vw;
        height: 25vw;
    }
    .ornamental_tree_example_each{
        margin: 2rem 4rem;
    }


}

@media (min-width:1500px) {
    .ornamental_top_text h2{
        font-size: 44pt;
    }

    .ornamental_top_text{
        margin: 2rem 6rem;
    }


    .o_tree_pic{
        width: 65vw;
        height: 22vw;
    }
    .ornamental_top_text h2{
        font-size: 44pt;
    }
    .ornamental_top_text p{
        font-size: 18pt;
        margin: 2rem 4rem;
    }
    .ornamental_tree_example_each h2{
        font-size: 36pt;
    }
    .ornamental_tree_example_each h3{
        font-size: 26pt;
    }

}

@media (min-width:1650px) {
    .ornamental_top_text{
        margin: 2rem 10rem;
    }
}

@media (min-width:1900px) {
    .o_tree_pic{
        width: 60vw;
        height: 20vw;
    }
    .ornamental_top_text{
        margin: 2rem 12rem;
    }
}
